extends layout

block head
  title STARTORY - Sign Up
  link(rel="stylesheet", href="/css/signup.css")

block content
  .outbox
    form(action='/process/signup' method='post')
      input.usernameInput(style='display: block' placeholder='Username' name='username' type='text')
      input.passwordInput(style='display: block' placeholder='Password' name='password' type='password')
      input.submit(style='display: block' value='회원가입' name='' type='submit' class='submitBtn')