extends layout

block head
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/default.min.css")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/8.4.2/markdown-it.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js")
  script(src="/js/topic.js")
  title STARTORY - #{title}
  script.
    $(() => {
      setArticle(`#{article}`)
    })

block content
  h1 #{title}
  div#article
  h3 Author: #{author}